/**
* @name Che Theme
* @version No Update
* @description Created
* @author CheeseBits
*/
@import url('https://github.com/NigerianScammer/Che/blob/main/Che.theme.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Japanese');
@import url('https://codedotspectra.github.io/themes/core/custom-font.css');
:root {
--roundness: 50px;
--main-color: #f2879a;
--hover-color: #f2879a;
--home-color: #eeeeee;
--shadow: #00000066;
--main-color: #16356d;
--hover-color: #1c4faf;
--home-color: #eee;
--custom-font Noto Sans Japanese
}

